<section class="w-[95%] h-[34.5rem] flex justify-around items-center  ">
<section class="w-[50%] h-full flex flex-col justify-center items-center gap-10">
   <section class="text-[#1e40af] w-[60%] flex justify-start flex-col 
   items-start text-[2.4rem] tracking-wide animate__animated animate__fadeInUp">
    <h1 ><b>Una experiencia</b></h1>
    <h1 class="text-[#2563eb]"><b>odontologica</b></h1>
    <h1><b>inolvidable</b></h1>
   </section>
   <section class="w-[60%] animate__animated animate__fadeInUp text-[1.1rem]">
    <p class=""> Descubre la excelencia en odontología en el Cesar. Nuestra clínica ofrece atención
         dental de primera clase para que luzcas una sonrisa saludable y radiante. ¡Visítanos hoy!</p>
   </section>
   <section class="w-[60%] flex gap-[8rem] animate__animated animate__fadeInUp">
    <button class=" shadow-lg h-11 w-[9rem] border 
    rounded-xl text-white bg-[#2563eb]" (click)="redirectLogin()"><b>Aparta tu cita</b></button>
    <button class="text-[#6b7280]"><u>Nuestros servicios</u></button>
   </section>
</section>
<section class=" rounded-[20rem] animate__animated animate__fadeInRight">
    <img src="assets/dentista.png" alt="dentista"/>
</section>
</section>
<section class="h-[6rem] fondo-2 animate__animated animate__fadeInUp">
</section>

