<div class="card shadow p-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Dashboard</h5>

    <main class="py-3 flex justify-center fondo h-screen">
      <article class="w-90 flex flex-column items-start">
        <iframe
          title="fadfdsfdsf"
          width="1600"
          height="700"
          src="https://app.powerbi.com/view?r=eyJrIjoiMzJjZjg1MWUtY2ViNi00YzI4LTllYTgtZjA3ZjNlZDJlMWJmIiwidCI6ImM5ODBlNDEwLTBiNWMtNDhiYy1iZDFhLThiOTFjYWJjODRiYyIsImMiOjR9"
          frameborder="0"
          allowFullScreen="true"
        ></iframe>
      </article>
    </main>
  </div>
</div>
