<article class="w-full h-100 flex justify-center items-center fondo">
  <section
    class="border bg-white w-[50%] h-[80%] p-8 flex flex-col justify-center gap-8 items-center"
  >
    <h1 class="text-4xl font-bold">Registra tu cita</h1>
    <form
      [formGroup]="formulario"
      class="flex flex-wrap w-full justify-between"
    >


      <div class="w-[48%] ">

        <label class="block text-sm text-gray-700 font-bold">
          Fecha
        </label>
        <input
          class="border w-full h-10 rounded-md px-3"

          formControlName="date" type="date" required/>
        <div *ngIf="formulario.get('date')?.invalid && formulario.get('date')?.touched">
          <p class="text-red-500">La fecha es obligatoria.</p>
        </div>
      </div>

      <div class="w-50 flex justify-between">

        <div class="w-[50%] mb-4">

          <label class="block text-sm text-gray-700 font-bold">
            Hora
          </label>
          <select class="border w-40 h-10 rounded-md px-3" formControlName="hour">
            <option value="" disabled selected>Horas</option>
            <option *ngFor="let hour of hours" [value]="hour.value">{{ hour.name }}</option>
          </select>
          <div *ngIf="formulario.get('hour')?.invalid && formulario.get('hour')?.touched">
            <p class="text-red-500">La Hora es obligatoria.</p>
          </div>
        </div>
        <div class="w-[50%] mb-4">

          <label class="block text-sm text-gray-700 font-bold">
            Minutos
          </label>
          <select class="border w-40 h-10 rounded-md px-3" formControlName="minute">
            <option value="" disabled selected>Minutos</option>
            <option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</option>
          </select>
          <div *ngIf="formulario.get('minute')?.invalid && formulario.get('minute')?.touched">
            <p class="text-red-500">Los minutos son obligatoria.</p>
          </div>
        </div>
      </div>
      <div class="w-[48%]">
        <label for="type" class="block text-sm text-gray-700 font-bold">Tipo de Cita</label>
        <select formControlName="type" class="border w-full h-10 rounded-md px-3" name="type" id="type">
          <option value="" disabled selected>Tipo de cita</option>
          <option *ngFor="let option of typeAppointmentOptions" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
        <div *ngIf="formulario.get('type')?.invalid && formulario.get('type')?.touched">
          <p class="text-red-500">La Tipo de cita es obligatoria.</p>
        </div>
      </div>
      <div class="w-[48%] mb-4">
        <label for="doctor" class="block text-sm text-gray-700 font-bold"
        >Doctor</label
        >
        <select
          formControlName="doctor"
          id="doctor"
          name="doctor"
          class="border w-full h-10 rounded-md px-3"
        >
          <option value="" disabled selected>Seleccione un doctor</option>
          <option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{ doctor.name }}
          </option>
        </select>
        <div *ngIf="formulario.get('doctor')?.invalid && formulario.get('doctor')?.touched">
          <p class="text-red-500">El Doctor es obligatoria.</p>
        </div>
      </div>

      <div class="w-full mb-4">
        <label for="descripcion" class="block text-sm text-gray-700 font-bold"
        >Descripción</label
        >
        <textarea
          formControlName="description"
          id="descripcion"
          name="descripcion"
          class="border w-full h-20 rounded-md px-2 py-2 resize-none"
          placeholder="Ingrese una breve descripción"
        ></textarea>
        <div *ngIf="formulario.get('description')?.invalid && formulario.get('description')?.touched">
          <p class="text-red-500">La Descripcion es obligatoria.</p>
        </div>
      </div>
      <div class="w-full mb-4">
        <button

          (click)="!validateForm() || registrarCita()"
          class="bg-blue-500 text-white px-4 py-2 rounded-md"
        >
          Registrar Cita
        </button>
      </div>
    </form>
  </section>
</article>

