<table class="bg-white w-[100%] h-[40%] border-spacing-2 shadow-lg  table-fixed">
  <thead class="h-[5px] border rounded-xl ">
  <tr class="text-left indent-5">
    <th class="border bg-slate-200 " style="width:18%;">Nombre</th>
    <th class="border bg-slate-200 " style="width:auto">Apellido</th>
    <th class="border bg-slate-200 "style="width:auto">Documento</th>
    <th class="border bg-slate-200 "style="width:15%">Correo</th>
    <th class="border bg-slate-200 " style="width:auto">Telefono</th>
    <th class="border bg-slate-200 "style="width:20%">Acción</th>
  </tr>
  </thead>
  <tbody class="indent-5 border-spacing-2">
  <tr class="message" *ngIf="data.length === 0">
    <td class="text-[1.5rem]" colspan="7"><b>No hay Admin Creadas</b></td>
  </tr>

  <tr *ngFor="let item of data | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.documentNumber}}</td>
    <td>{{item.email}}</td>
    <td>{{item.phone}}</td>
    <td>
      <div>
        <div>
          <button STYLE="background-color: orange; color: white" mat-raised-button (click)="openModalUpdate(item)">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button STYLE="background-color: red; color: white" mat-raised-button (click)="abrirModalConfirmacion(item.documentNumber)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>
      <pagination-controls
        [previousLabel]="'Anterior'"
        [nextLabel]="'Siguiente'"
        (pageChange)="pageChanged($event)">
      </pagination-controls>
    </td>
  </tr>
  </tfoot>
</table>
