
    <section class="w-[100%] h-screen bg-blue-50 flex flex-col items-center gap-[10rem] ">
    <div class="flex h-[8rem] justify-center items-center">
        <img class="cursor-pointer" src="assets/logo_h.png" width="90"/>
    </div>
    <div>
        <ul class="flex flex-col flex items-center">
            <li class="h-[5rem]  w-[100%] mx-5">
            <li class="h-[4rem]  w-[100%] justify-start mx-5">
                <button class=" bt-w w-[100%] h-full" mat-button (click)="navigateCita()">
                    <mat-icon class="" fontIcon="search"></mat-icon>
                    Citas a atender</button></li>
        </ul>
    </div>
    </section>
