<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Cancelar Cita</h5>
    <button type="button" class="btn-close" (click)="cerrar()"></button>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas cancelar esta cita?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cerrar()">Cerrar</button>
    <button type="button" class="btn btn-danger" (click)="cancelarCita()">Aceptar</button>
  </div>
</div>

