<article class="w-full h-screen flex justify- items-center  ">
  <section class="w-[60%] fondo h-full border flex justify-center items-center">
    <img src="assets/fondo-2.png"/>
  </section>
  <section class="w-[40%] h-full shadow border flex flex-col  justify-center items-center">
    <div class="w-[85%] h-[65%]  ">
      <form [formGroup]="formulario" class="w-full h-full flex  justify-center items-center  flex-wrap">
        <div class="w-100 flex  justify-center">

          <h1>Recuperar contraseña</h1>
        </div>

        <div class="w-[60%] mb-4">
          <label for="documentNumber" class="block text-sm text-gray-700 font-bold"
          >Numero de documento</label
          >
          <input
            formControlName="documentNumber"
            id="documentNumber"
            type="text"
            name="documentNumber"
            class="border w-full h-[3.4rem] rounded-md px-2 py-2 resize-none"
            placeholder="Numero de documento"
          >
          <div *ngIf="formulario.get('documentNumber')?.invalid && formulario.get('documentNumber')?.touched">
            <p class="text-red-500">El numero de documento es obligatoria.</p>
          </div>
        </div>

        <div class="w-[100%] flex flex-col items-center">

          <div class="w-[100%] mb-2">
            <button class="border h-[2.4rem] rounded-md w-full bg-[#2563eb] text-white" (click)="recuperarContrasena()" ><b>Recuperar contraseña</b></button>
          </div>

          <div class="w-[100%]">
            <button class="border h-[2.4rem] rounded-md w-full bg-red-500 text-white" (click)="CancelarRegistro()">
              <b>Cancelar</b>
            </button>
          </div>

        </div>
      </form>

    </div>

  </section>
</article>
