<article class="w-full flex flex-col items-center justify-center">
  <section><h1 class="text-[#2563eb]"><b>Sobre nosotros</b></h1></section>
  <section class="w-full h-[30rem]  flex justify-around items-center fondo">
    <section class="w-[27%] bg-white border-[1px] shadow-sm rounded-md h-[95%] flex flex-col items-center justify-center gap-[3.5rem]">
      <h1 class="text-center w-[90%] text-[] text-[1.8rem] text-[#1e40af]"><b>Mision</b></h1>
      <p class="w-[90%] leading-6 text-center text-[1.2rem] ">Somos una institución prestadora de servicios de salud de mediana complejidad,
        que brinda una atención oportuna, humanizada, segura  e incluyente,
        para nuestros usuarios y clientes, con talento humano calificado y
        comprometido con el mejoramiento continuo.
      </p>
    </section>
    <section class="w-[24%] flex justify-center">
      <img src="assets/fondo-2.png" width="400px"/>
    </section>
    <section class="w-[27%] bg-white  border-[1px] shadow-md rounded-md h-[95%] flex flex-col items-center justify-center gap-[3.5rem]">
      <h1 class=" w-[90%] text-center text-[1.8rem] text-[#1e40af]"><b>Vision</b></h1>
      <p class="w-[90%] leading-6 text-center text-[1.2rem]">
        Para el año 2030 seremos una institución acreditada, reconocida por la prestación
        de servicios de salud con énfasis quirúrgico, apoyada con una adecuada tecnología y
        una cultura organizacional humanizada, sostenible y amigable con el medio ambiente
      </p>
    </section>
  </section>
</article>
