<article class="w-full h-[25rem]    flex justify-center relative border ">
  <article class="w-[75%] flex flex-col justify-around items-center h-full border absolute -top-10
bg-[#2563eb] shadow-md rounded-sm text-white ">
    <section class="flex w-[95%] h-[60%]  justify-around">
      <div class="flex flex-col justify-around w-[45%]">
        <h1 class="text-[1.4rem] "><b>Hospital Agustín Codazzi</b></h1>
        <p class="text-[1rem] leading-relaxed"><b>Dirección:</b> CALLE 14 N° 8 – 67  <br>
          <b> Horario de atención:</b> 24/7 <br>
          <b>Teléfono Conmutador:</b> 576 5101 <br> <b>Teléfono móvil:</b> 3156800127 <br>
          <b>Línea de atención gratuita:</b> 576 5101</p>
      </div>
      <div class="  flex justify-end items-center">
        <img src="assets/logo_h.png" class="efecto" alt="logo" width="180"/>
      </div>
    </section>
    <section class="w-[40%] h-[30%]  flex justify-around items-center">
      <div><a href="https://www.facebook.com/Hospitalagustincodazzi2020/" target="_blank">
        <img class="cursor-pointer efecto" src="assets/facebook.png" alt="facebook" width="32"></a></div>
      <div><a href="https://www.instagram.com/hospitalagustincodazzie.s.e/?hl=es-la" target="_blank">
        <img  class="cursor-pointer efecto" src="assets/instagram.png" alt="instagram" width="32"></a></div>
      <div><a href="https://twitter.com/hacodazzi2020" target="_blank">
        <img  class="cursor-pointer efecto" src="assets/twitter.png" alt="twitter" width="34"></a></div>
    </section>
  </article>
</article>
