<div class="card shadow p-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Gestión de Admin</h5>

    <main class="py-3 flex justify-center fondo h-screen">
      <article class="w-90 flex flex-column items-start">

        <button class="btn btn-xs btn-primary text-whites mb-2" (click)="openModal()">
          <mat-icon class="" fontIcon="local_hospital"></mat-icon> Crear admin
        </button>

        <app-table-admin></app-table-admin>
      </article>
    </main>
  </div>
</div>
