<article class="w-full flex justify-around h-[5.5rem] items-center bg-[#f8fafc]  border-[]  ">
<section class="w-[30%] flex items-center justify-start bg-">
    <h1 class="text-[1.2rem]"><b></b></h1> 
    <img class="w-[3.7rem]" src="assets/logo_h.png" alt="logo"/>
</section>
<section class="bg- w-[35%] text-[#1e40af] ">
  <ul class="flex w-full gap-[5rem] text-[1.1rem]">
    <li><b>Inicio</b></li>
    <li><b>Servicios</b></li>
    <li><b>Nosotros</b></li>
  </ul>
</section>
<section class=" w-[20%] flex justify-center items-end">
  <button class="border-[3px] w-[10rem] h-[2.7rem] 
  rounded-xl shadow-lg  text-white bg-[#2563eb] " (click)="redirectLogin()"><b>Aparta una cita</b></button>
</section>
</article>
